Source: nodejs-pipeline
Section: misc
Priority: extra
Uploaders: Casey Crites <casey@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Build-Depends: cdbs,
 debhelper (>= 7),
 nodejs (>= 0.2.6),
 nodejs-connect (>= 1.4.0),
 nodejs-underscore (>= 1.1.3),
 nodejs-step (>= 0.0.4),
 nodejs-decimaljson (>=0.2.1),
 nodejs-sgutil (>= 0.1.60),
 nodejs-simplegeo (>= 0.1.0-0sg2),
 nodejs-jsonselect (>= 0.2.1-0sg6),
Standards-Version: 3.9.1

Package: nodejs-pipeline
Depends: nodejs (>= 0.2.6),
 nodejs-connect (>= 1.4.0),
 nodejs-underscore (>= 1.1.3),
 nodejs-step (>= 0.0.4),
 nodejs-decimaljson (>=0.2.1),
 nodejs-simplegeo (>= 0.1.0-0sg2),
 nodejs-jsonselect (>= 0.2.1-0sg6),
 ${misc:Depends}
Architecture: all
Description: The SimpleGeo spatial events processor
 http://github.com/caseycrites/pipeline
